---
---

<div>
<strong>Welcome to headless.garden</strong>
<br/>
<span>What if we reimagined Twitter as a headless, open social network?</span>
<br/>
<span>Fast. Free. Zero ads or tracking. Built to be built on. It's literally just an API.</span>
<br/>
<br/>
<span>Visit <a href='/login'>/login</a> to request an invite, then ping @fks to complete setup.</span>
<span>Not all features will work until you've completed setup.</span>
<br/>
<br/>
<span>A sandbox UI is available as a proof of concept, but most features are still API only for now. <a href='/sandbox/u/fks'>(Example)</a></span>
<br/>

<pre class="astro-code" style="background-color: #0d1117; overflow-x: auto;"><code set:html={`
<span class="line"><span style="color: #8B949E">// OAUTH: (Start here!) </span></span>
<span class="line"><span style="color: #8B949E">// - Authenticate with GitHub creates a new user in the database.</span></span>
<span class="line"><span style="color: #8B949E">// - You must visit this URL in a browser. It returns its response via redirect.</span></span>
<span class="line"><span style="color: #8B949E">// - NOTE: This is still incomplete for the signup use-case, ping @fks to sign up.</span></span>
<span class="line"><span style="color: #FF7B72">function</span><span style="color: #C9D1D9"> </span><span style="color: #D2A8FF">request</span><span style="color: #C9D1D9">(</span><span style="color: #FFA657">url</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #A5D6FF">'/login'</span><span style="color: #C9D1D9">, </span><span style="color: #FFA657">params</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> {})</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #FFA657">Promise</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">ResponseFormat</span><span style="color: #C9D1D9">&lt;</span><span style="color: #79C0FF">undefined</span><span style="color: #C9D1D9">&gt;&gt;;</span></span>
<span class="line"></span>
<span class="line"><span style="color: #8B949E">// RPC: </span></span>
<span class="line"><span style="color: #8B949E">// - JSON requests/responses for executing commands against the API.</span></span>
<span class="line"><span style="color: #8B949E">// - On success, {data} is populated and {error} is null.</span></span>
<span class="line"><span style="color: #8B949E">// - On failure, {error} is populated and {data} is null.</span></span>
<span class="line"><span style="color: #8B949E">// RPC Authentication:</span></span>
<span class="line"><span style="color: #8B949E">// - If you hit these endpoints in the browser, your access cookie should be sent automatically. </span></span>
<span class="line"><span style="color: #8B949E">// - Otherwise, you'll need an "Authorization" header with a valid JWT token (ex: "Bearer ...").</span></span>
<span class="line"><span style="color: #FF7B72">function</span><span style="color: #C9D1D9"> </span><span style="color: #D2A8FF">request</span><span style="color: #C9D1D9">(</span><span style="color: #FFA657">url</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #A5D6FF">'/api/feed.list'</span><span style="color: #C9D1D9">, </span><span style="color: #FFA657">params</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> {</span><span style="color: #FFA657">user</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #79C0FF">string</span><span style="color: #C9D1D9">})</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #FFA657">Promise</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">ResponseFormat</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">Post</span><span style="color: #C9D1D9">[]&gt;&gt;;</span></span>
<span class="line"><span style="color: #FF7B72">function</span><span style="color: #C9D1D9"> </span><span style="color: #D2A8FF">request</span><span style="color: #C9D1D9">(</span><span style="color: #FFA657">url</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #A5D6FF">'/api/users.info'</span><span style="color: #C9D1D9">, </span><span style="color: #FFA657">params</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> {</span><span style="color: #FFA657">user</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #79C0FF">string</span><span style="color: #C9D1D9">})</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #FFA657">Promise</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">ResponseFormat</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">UserProfile</span><span style="color: #C9D1D9">&gt;&gt;;</span></span>
<span class="line"><span style="color: #FF7B72">function</span><span style="color: #C9D1D9"> </span><span style="color: #D2A8FF">request</span><span style="color: #C9D1D9">(</span><span style="color: #FFA657">url</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #A5D6FF">'/api/users.list'</span><span style="color: #C9D1D9">, </span><span style="color: #FFA657">params</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> {})</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #FFA657">Promise</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">ResponseFormat</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">UserProfile</span><span style="color: #C9D1D9">[]&gt;&gt;;</span></span>
<span class="line"><span style="color: #FF7B72">function</span><span style="color: #C9D1D9"> </span><span style="color: #D2A8FF">request</span><span style="color: #C9D1D9">(</span><span style="color: #FFA657">url</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #A5D6FF">'/api/posts.info'</span><span style="color: #C9D1D9">, </span><span style="color: #FFA657">params</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> {</span><span style="color: #FFA657">post</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #79C0FF">string</span><span style="color: #C9D1D9">})</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #FFA657">Promise</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">ResponseFormat</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">Post</span><span style="color: #C9D1D9">&gt;&gt;;</span></span>
<span class="line"><span style="color: #FF7B72">function</span><span style="color: #C9D1D9"> </span><span style="color: #D2A8FF">request</span><span style="color: #C9D1D9">(</span><span style="color: #FFA657">url</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #A5D6FF">'/api/posts.list'</span><span style="color: #C9D1D9">, </span><span style="color: #FFA657">params</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> {</span><span style="color: #FFA657">user</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #79C0FF">string</span><span style="color: #C9D1D9">})</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #FFA657">Promise</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">ResponseFormat</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">Post</span><span style="color: #C9D1D9">[]&gt;&gt;;</span></span>
<span class="line"><span style="color: #FF7B72">function</span><span style="color: #C9D1D9"> </span><span style="color: #D2A8FF">request</span><span style="color: #C9D1D9">(</span><span style="color: #FFA657">url</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #A5D6FF">'/api/posts.create'</span><span style="color: #C9D1D9">, </span><span style="color: #FFA657">params</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> {</span><span style="color: #FFA657">content</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #79C0FF">string</span><span style="color: #C9D1D9">})</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #FFA657">Promise</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">ResponseFormat</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">Post</span><span style="color: #C9D1D9">&gt;&gt;;</span></span>
<span class="line"><span style="color: #FF7B72">function</span><span style="color: #C9D1D9"> </span><span style="color: #D2A8FF">request</span><span style="color: #C9D1D9">(</span><span style="color: #FFA657">url</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #A5D6FF">'/api/posts.interact'</span><span style="color: #C9D1D9">, </span><span style="color: #FFA657">params</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> {</span><span style="color: #FFA657">post</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #79C0FF">string</span><span style="color: #C9D1D9">, </span><span style="color: #FFA657">action</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #A5D6FF">'like'</span><span style="color: #C9D1D9"> </span><span style="color: #FF7B72">|</span><span style="color: #C9D1D9"> </span><span style="color: #A5D6FF">'share'</span><span style="color: #C9D1D9">})</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #FFA657">Promise</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">ResponseFormat</span><span style="color: #C9D1D9">&lt;</span><span style="color: #79C0FF">boolean</span><span style="color: #C9D1D9">&gt;&gt;;</span></span>
<span class="line"><span style="color: #FF7B72">function</span><span style="color: #C9D1D9"> </span><span style="color: #D2A8FF">request</span><span style="color: #C9D1D9">(</span><span style="color: #FFA657">url</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #A5D6FF">'/api/relationships.create'</span><span style="color: #C9D1D9">, </span><span style="color: #FFA657">params</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> {</span><span style="color: #FFA657">user</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #79C0FF">string</span><span style="color: #C9D1D9">})</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #FFA657">Promise</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">ResponseFormat</span><span style="color: #C9D1D9">&lt;</span><span style="color: #79C0FF">boolean</span><span style="color: #C9D1D9">&gt;&gt;;</span></span>
<span class="line"><span style="color: #FF7B72">function</span><span style="color: #C9D1D9"> </span><span style="color: #D2A8FF">request</span><span style="color: #C9D1D9">(</span><span style="color: #FFA657">url</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #A5D6FF">'/api/relationships.delete'</span><span style="color: #C9D1D9">, </span><span style="color: #FFA657">params</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> {</span><span style="color: #FFA657">user</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #79C0FF">string</span><span style="color: #C9D1D9">})</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #FFA657">Promise</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">ResponseFormat</span><span style="color: #C9D1D9">&lt;</span><span style="color: #79C0FF">boolean</span><span style="color: #C9D1D9">&gt;&gt;;</span></span>
<span class="line"><span style="color: #C9D1D9">  </span></span>
<span class="line"><span style="color: #FF7B72">interface</span><span style="color: #C9D1D9"> </span><span style="color: #FFA657">ResponseFormat</span><span style="color: #C9D1D9">&lt;</span><span style="color: #FFA657">T</span><span style="color: #C9D1D9">&gt; {</span></span>
<span class="line"><span style="color: #C9D1D9">  </span><span style="color: #FFA657">data</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #FFA657">T</span><span style="color: #C9D1D9"> </span><span style="color: #FF7B72">|</span><span style="color: #C9D1D9"> </span><span style="color: #79C0FF">null</span><span style="color: #C9D1D9">;</span></span>
<span class="line"><span style="color: #C9D1D9">  </span><span style="color: #FFA657">error</span><span style="color: #FF7B72">:</span><span style="color: #C9D1D9"> </span><span style="color: #79C0FF">any</span><span style="color: #C9D1D9"> </span><span style="color: #FF7B72">|</span><span style="color: #C9D1D9"> </span><span style="color: #79C0FF">null</span><span style="color: #C9D1D9">;</span></span>
<span class="line"><span style="color: #C9D1D9">}</span></span>
<span class="line"><span style="color: #C9D1D9">  </span></span>`} /></pre>
<style is:global>
body, html {
  height: 100%;
  display: grid;
  background-image: linear-gradient(120deg, #111 0%, #123 100%);
  font-family: 'Roboto', sans-serif;
}
div { /* thing to center */
  margin: auto;
  color: #BBB;
}
strong {
  color: white;
}
pre {
  border: 1px solid #BBB;
  border-radius: 6px;
  padding: 1rem;
  box-shadow: 3px 3px 0px 3px white;
}
a {
  color: white;
}
</style>