---
import { Code } from "astro/components";
---

<div>
<strong>Welcome to headless.garden</strong>
<br/>
<span>The first headless social network.</span>
<br/>
<span>Free. Fast. Zero ads or tracking. Built to be built on. It's literally just an API.</span>
<br/>
<br/>
<div id="login-message">
<span>Visit <a href='/login'>/login</a> to request an invite.</span>
<br/>
</div>
<div id="access-token" />

<pre id="docs" class="astro-code" style="background-color: #0d1117; overflow-x: auto;"><code set:html={`<span class="line"></span>
  <span class="line"><span style="color: #8B949E">// API Cheatsheet: </span></span>
  <span class="line"><span style="color: #8B949E">// - JSON requests/responses for executing commands against the API.</span></span>
  <span class="line"><span style="color: #8B949E">// - On success, {data} is populated and {error} is null.</span></span>
  <span class="line"><span style="color: #8B949E">// - On failure, {error} is populated and {data} is null.</span></span>

  <span class="line"><span style="color: #A5D6FF">https://headless.garden/api/feed.list?user=fks</span>
  <span class="line"><span style="color: #A5D6FF">https://headless.garden/api/users.info?user=fks</span>
  <span class="line"><span style="color: #A5D6FF">https://headless.garden/api/users.list</span>
  <span class="line"><span style="color: #A5D6FF">https://headless.garden/api/posts.info?post=ID</span>
  <span class="line"><span style="color: #A5D6FF">https://headless.garden/api/posts.list?user=fks</span>
  <span class="line"><span style="color: #A5D6FF">https://headless.garden/api/posts.create?content=MESSAGE</span>
  <span class="line"><span style="color: #A5D6FF">https://headless.garden/api/posts.interact?post=ID&amp;action=share</span>
  <span class="line"><span style="color: #A5D6FF">https://headless.garden/api/relationships.create?user=fks</span>
  <span class="line"><span style="color: #A5D6FF">https://headless.garden/api/relationships.delete?user=fks</span>
  <span class="line"></span>`} /></pre>
  </div>

<script is:inline>
  if (window.location.search.includes('login-complete')) {
    document.getElementById('login-message').innerHTML = `
      <span style="color: #8F9; font-weight: bold;">Login complete!</span><br/>
      <span style="color: #595;">Note: Not all features will work until your invite has been accepted.<br/>Ping @fks to complete setup.</span>
    `;
    document.getElementById('access-token').innerHTML = `
      <pre style="background-color: #0d1117; overflow-x: auto;"><code><span class="line"><span style="color: #8B949E">// Your API Access Token:</span></span>
<span class="line"><span style="color: #8B949E">// - If you hit these endpoints in the browser, your access cookie should be sent automatically via cookie. </span></span>
<span class="line"><span style="color: #8B949E">// - Otherwise, you'll need this token with an "Authorization" header (ex: "Bearer ...").</span></span>
<span class="line"><span style="color: #8B949E">// - Currently, tokens expire after ~5 min so you'll need to revisit /login to refresh it.</span></span>

${JSON.parse(window.localStorage.getItem('sb-ixebnnxkmtfbfydfyxjc-auth-token')).access_token}</code></pre>
<br/>
    `;
  }
</script>
<br/>


<style is:global>
  
body, html {
  height: 100%;
  display: grid;
  background-image: linear-gradient(120deg, #111 0%, #123 100%);
  font-family: 'Roboto', sans-serif;
}
body > div { /* thing to center */
  margin: auto;
  color: #BBB;
  max-width: 800px;
}
strong {
  color: white;
}
pre {
  border: 1px solid #BBB;
  border-radius: 6px;
  padding: 1rem;
  box-shadow: 3px 3px 0px 3px white;
}
a {
  color: white;
}
</style>